@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter";
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  text-align: center;
  min-height: 100vh;
}

.card-body {
  background-color: hsl(0, 0%, 12%);
  width: 90%;
  width: 350px;
  border-radius: 10px;
  padding: 20px;
}

img {
  border-radius: 50%;
  padding: 10px;
  width: 100px;
  margin-bottom: 10px;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 0;
}

.location {
  color: hsl(75, 94%, 57%);
  font-size: 0.9rem;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 14px;
}

.bio {
  font-size: 0.9rem;
  margin-bottom: 25px;
  color: hsl(0, 0%, 90%);
}

ul {
  list-style: none;
}

.link {
  display: block;
  padding: 10px;
  margin: 10px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
}

.link:hover {
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 0%);
}

a {
  color: white;
  text-decoration: none;
}
